@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--light);
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

:root{
    --primary : #F5B458;
    --fade-yellow: #FCF8E8;
    --light : #ffffff;
    --fade :  #F3F4F5;
    --footer: #313450;
    --l-black : #6B6F92;
}

/* ######################################################
                     U T I L I T Y
#########################################################*/

.contain{
    padding: 10px 70px;
}

.flex-r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

/* ######################################################
                     H E A D E R 
#########################################################*/
header{
    width: 100%;
    

}
nav{
    background-color: #fff;
    justify-content: space-between !important;
    height: 11vh;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    box-shadow: 0px 0px 2px -1px #120e20e0;
}

.nav-logo img{
    width: 160px;
}
.nav-link a{
    text-decoration: none;
    color: var(--primary);
    padding: 5px;
    margin: 0px 5px;
    letter-spacing: 1px;
}

.primary-btn{
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--light) !important;
    padding: 5px 14px !important;
    border-radius: 50px;
    letter-spacing: 1px !important;
}
.primary-btn i{
    margin-right: 5px;
    color: var(--light);
}
.nav-btn{
    margin-left: 10px !important;
}
.ham{
    align-items: flex-start;
    display: none;
    width: 48px;
    height: 45px;
    position: relative;
}
.line{
    width: 40px;
    border-radius: 50px;
    background-color: #313450;
    height: 3px;
    left: 0;
    margin: 2.5px 0px;
}
#line-1{
    width: 35px;
}
#line-2{
    width: 20px;
}
#line-3{
    width: 26px;
}

/* main content  */

main{
    width: 100%;
    height: 100vh;
    background: url(../media/header-bg.png);
    background-position: bottom;
    background-size: cover;
}
.main-head{
    font-size: 55px;
    letter-spacing: 1px;
    color: var(--footer);
    margin-bottom: 0px;
    line-height: 1.1;
}

.main-text p{
    font-size: 15px;
    font-variant: var(--footer);
    text-align: center;
}
.main-text a{
    margin-top: 10px;
    font-size: 15px;
    padding: 11px 15px !important;
}


.main-img img{
    width: 600px;
}


/* hero / sub page  */

.hero{
    background: var(--fade);
    background-color: var(--footer);
    height: 250px;
    width: 100%;
}
.hero h1{
    position: relative;
    color: var(--light);
}
.ul-head{
    position: relative;
}
.ul-head::after , .hero h1::after{
    content: " ";
    background: var(--primary);
    height: 6px;
    width: 200px;
    position:absolute;
    border-radius: 10px;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
}


 /* section  */


section{
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.main-sec{
    background: url(../media/fade-wave.svg);
    background-position: left;
    background-size: cover;
}
.sec-text{
    min-width: 400px;
    width: 500px;
    align-items: flex-start;
}
.sec-head{
  font-size: 40px;
  color: var(--footer);
  margin-bottom: 10px;
  position: relative;
}
.sec-head::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 110px;
    height: 5px;
    border-radius: 30px;
    background-color: var(--primary);
}

.sec-text p{
  color: #7e7d7d;
  margin-bottom: 10px;
}
.setting-img{ 
    width: 250px;
    margin-left: 100px;
    animation: round 8s infinite linear;
}

@keyframes round{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* >>>>>>>>>>>>>> S E R V I C E <<<<<<<<<<<<<<  */

#service , #contact{
    justify-content: center !important;
    flex-wrap: wrap;
    background: url(../media/1-fade.svg);
    background-position: top left;
    background-size: cover;
}
.row{
    flex-wrap: wrap;
    margin-top: 60px;
}
.service-card{
    overflow: hidden;
    background-color: var(--fade);
    width: 250px;
    height: 280px;
    border-radius: 10px;
    margin: 40px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 10px -2px #120e20e0;
}

.service-card:hover{
    transform: translateY(-5px);
}
.service-card img{
    width: 110px;
}
.service-card .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    overflow: hidden;
    width: 100%;
}
.card-text{
    flex: 1;
    width: 100%;
}
.card-text h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.card-text a{
    background-color: var(--footer);
    color: var(--light);
    padding: 10px 7px;
    font-size: 15px;
    /* letter-spacing: 1px; */
    border-radius: 7px;
}


/* >>>>>>>>>>>>>> C E O <<<<<<<<<<<<<<  */

#about-ceo{
    height: 350px;
}

.ceo-pic{
    width: 260px;
    clip-path: circle();
    margin-right: 110px;
}
.sec-text .social-icon a i{
    color: var(--footer);
}


/* >>>>>>>>>>>>>> A B O U T <<<<<<<<<<<<<<  */

#about{
    background: url(../media/fade-wave.svg);
    /* border: 1px solid black; */
    background-position: left;
    background-size: cover;
}

.sec-list{
    align-items: flex-start;
    margin-top: 20px;
}
.sec-list div{
    margin: 3px 0px;
}
.sec-list div span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-list div span:nth-child(2){
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
}

.sm-icon i{
    font-size: 15px;
    margin-right: 7px;
    color: var(--primary);
}

.car-men-img{
    width: 600px;
}


/* >>>>>>>>>>>>>> T E A M <<<<<<<<<<<<<<  */


.team-sec{
    background-color: var(--fade);
}


.flickity-viewport{
    height: 260px;
}

.carousel{
    margin-bottom: 70px;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}
  
.carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 260px;
    margin-right: 10px;
    background: var(--light);
    border-radius: 10px;
}

.carousel-cell img{
    width: 100px;
    clip-path: circle();
}
.carousel-cell h2{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.carousel-cell p{
    font-size: 13px;
    text-align: center;
}


/* ######################################################
                     C O N T A C T
#########################################################*/
#contact{
    background-color: var(--fade);
    flex-wrap: nowrap;
    justify-content: space-between !important;
    padding-top: 30px!important;
    padding-bottom: 30px !important;
}

.contact-wrapper{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 750px;
}

.input-box{
    height: 45px;
    max-width: 700px;
    margin: 12px 0px;
}
.input-box input,textarea , select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.contact-wrapper .message-box{
    min-height: 110px;
}
.contact-wrapper .input-box textarea{
    padding-top: 6px;
}

.b-btn{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.b-btn:hover{
    background: #5029bc;
}

.contact-img{
    width: 350px;
}




  



/* ######################################################
                    E X T R A -- P A G E
#########################################################*/

.page-sec{
    background: url(../media/pg-wave.svg);
    background-position: left top;
    background-size: cover;
    
}

/* >>>>>>>>>>>>>> O R D E R <<<<<<<<<<<<<<  */
.order-sec{
    background-color: var(--fade);
    margin-top: 50px;
    min-height: 100vh;
    width: 100%;
}

.order-wrapper{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
}
.input-hold{
    /* border: 1px solid black; */
    justify-content:flex-start;
    gap: 0px 30px;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.order-wrapper .input-box{
    max-width: 400px;
}
/* .input-hold .input-box:nth-child(1){
    flex: 1;
} */
.mini-head{
    margin-top: 40px;
}
.mini-head h3{
    font-size: 24px;
    color: var(--footer);
    font-weight: bold;
    letter-spacing: 1px;
}
.mini-head p{
    font-size: 15px;
    color: var();
    color: var(--footer);
}


/* >>>>>>>>>>>>>> Login<<<<<<<<<<<<<<  */

/* 
.login-sec{
    background: url(../media/login-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.form-wrapper{
    background-color: var(--footer);
    padding: 10px 20px;
    max-width: 400px;
    width: 400px;
    min-height: 500px;
    border-radius: 10px;

}
.form-wrapper h1{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 400;
}

.login-logo{
    width: 100%;
    margin-bottom: 10px;

}
.login-logo img{width: 150px;}

.divider{
    width: 100%;
    height: 1px;
    background-color: var(--fade);
}

.form-wrapper form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.form-wrapper form input{
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    height: 100%;
}

.input-label{
    font-size: 15px;
    color: var(--light);
    margin-top: 20px;
}
.form-wrapper form button{
    width: 100%;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 17px;
}

  
.input-box{
    width: 100%;
    background-color: var(--light);
    border-radius: 5px;
    padding: 7px;
    margin-top: 4px;
    
}
.input-box span {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid var(--fade);
}
.input-box span i{
    font-size: 20px;
    color: var(--primary);
}

.form-wrapper form a{
    color: var(--fade);
    font-size: 14px;
    font-style: italic;
    text-decoration: underline var(--l-black);
    margin-top: 2px;
}

.form-extra{
    color: var(--light);
    font-size: 14px;
    margin-top: 7px;
    width: 100%;
    text-align: center;
}
.form-extra a{
    color: var(--primary) !important;
    letter-spacing: 1px;

} */


/* ######################################################
                     F O O T E R
#########################################################*/

footer{
    padding-top: 30px!important;
    padding-bottom: 30px !important;
    width: 100%;
    background-color: var(--footer);
    color: var(--light);
}

.footer-top{
    width: 100%;
    justify-content: space-between !important;
}

.footer-link{
    align-items: flex-start;
}
.footer-link div{
    margin: 10px 0px;
    cursor: pointer;
}

.footer-link div i , .social-icon i{
    border: 1px solid var(--l-black);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: var(--light);
    transition: all 0.2s linear;
}

.footer-head{
    max-width: 350px;
    align-items: flex-start;
}

.footer-head h1{
    color: var(--light);
    font-size: 30px;
    letter-spacing: 1px;
}
.footer-head p{
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--l-black);
    margin-bottom: 10px;
}

.social-icon{
    width: 100%;
    justify-content: flex-start;
}

.social-icon a i{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.social-icon a i:hover , .footer-link div i:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}


.footer-bottom{
    width: 100%;
    padding: 20px 0px 0px 0px;
    border-top: 2px solid var(--l-black);
    margin-top: 30px;
}

.footer-bottom a{
    color: var(--primary);
    letter-spacing: 1px;
    text-decoration: underline var(--l-black);
}

/* ######################################################
                     M E D I A 
#########################################################*/



@media only screen and (max-width:1160px) {
    .contain{
        padding: 10px 30px;
    }
    section{
        width: 100%;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    /* images  */
    .car-men-img{
        width: 450px;
    }
    .ceo-pic{
        margin-right: 80px;
    }
    .setting-img{
        margin-left: 0px;
    }
}
@media only screen and (max-width:876px){
    .ceo-pic{
        width: 200px;
        margin-right: 10px;
    }
    .setting-img{
        width: 200px;
    }
    #about{
        justify-content: flex-start !important;
    }
}

@media only screen and (max-width:779px){
    .setting-img{
        width: 200px;
    }
    .main-head{
        font-size: 40px;
        letter-spacing: 1px;
    }
    .hero h1::after ,.ul-head::after{
        width: 150px;
        height: 4px;
        
    }

    #about-ceo .sec-text{
        width: 400px;
    }
    .nav-link{
        display: none;
    }

    .ham{
        display: flex;
        cursor: pointer;
    }
}
@media only screen and (max-width:705px){
    .footer-top{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-link{
        margin-bottom: 20px;
    }
    .sec-img{
        display: none;
    }
}
@media only screen and (max-width:490px){
    
    .hero .main-head , .main-head{
        font-size: 30px;
    }

    .sec-head ,  .ul-head{
        font-size: 27px;
    }
    .ul-head::after, .hero h1::after ,.sec-head::after {
        width: 100px;
    }
    .main-sec{
        justify-content: flex-start;
    }
    .sec-text{
        min-width: 200px;
    }
    .sec-text p , .footer-head p ,.main-text p{
        font-size: 13px;
    }
    .hero h1::after, .ul-head::after ,.sec-head::after{
        width: 70px;
        height: 2px;
    }
}

@media only screen and (max-width:372px){
   .contain{
       padding: 10px 0px;
   }
   .footer-link div span{
       font-size: 13px;
   }

   .hero .main-head{
        font-size: 20px;
        font-weight: 500;
    }
    .sec-text h3{
        font-size:15px;
    }

}
@media only screen and (max-width:308px){
   .service-card{
       width: 190px;
       height: 280px;
   }
   .carousel-cell{
       width: 200px;
       height: 240px;
   }
   .carousel-cell h2{
       font-size: 12px
   }
   .carousel-cell p{
       font-size: 11px
   }
   .main-head{
        font-size: 24px;
    }
    .sec-head{
        font-size: 20px;
    }
    .ul-head{
        font-size: 20px;
    }
    .sec-head::after{
        height: 2px;
        width: 50px;
    }
    .page-btn span{
        display: none;
    }
    .page-btn i{
        margin: 0px;
    }
    .page-btn{
        padding: 6px !important;
    }

}



/* ######################################################
                     classes using app.js
#########################################################*/


.nav-ham{
    display: flex;
    position: absolute;
    top: calc(13vh + 0px);
    /* right: 50%; */
    width: 100%;
    margin: auto;
    height: 200px;
    background-color: white;
    flex-direction: column;
    padding: 30px;
}
.nav-ham a{
    margin: 5px 0px;
}
.nav-ham .primary-btn{
    margin: 0px !important;
}

.ham-active .line{
    transition: all 0.1s linear;
}

.ham-active #line-1{
    width: 30px;
    position: absolute;
    transform: rotate(45deg);
    top: 15px;
    left: 1px;
}
.ham-active #line-3{
    width: 30px;
    position: absolute;
    transform: rotate(-45deg);
    top: 16px;
    left: 0px;
    
}
.ham-active #line-2{
    width: 0px;
}
