{{> header }}

<section class="contain page-sec">
        <div class="row flex-r">
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/bike-onspot.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>On Spot Repair</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/bike-major.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Major Repair</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/tyre-pincher.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Tyre Puncture</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/key.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Key Lost or Broken</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/bike-major.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Door Step Repair</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/bike-wash.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Wash/Polish</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
            <div class="service-card flex-c">
                <div class="card-img">
                    <img src="/media/bike-monthly.png" alt="">
                </div>
                <div class="card-text flex-c">
                    <h1>Monthly Checkup</h1>
                    <a href="./order">Book Now</a>
                </div>
            </div>
        </div>
    </section>


{{> footer }}