{{> header }}

<section class="contain page-sec">
    <div class="row flex-r">
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/towing.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Towing</h1>
                <a href="/order">Book Now</a>
            </div>
        </div>

        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/emergency.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Ambulance</h1>
                <a href="/order">Book Now</a>
            </div>
        </div>
    </div>
</section>

{{> footer }}