{{> header }}

<section class="contain page-sec">
    <div class="row flex-r">
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/bike-monthly.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Insurance</h1>
                <a href="./order">View more</a>
            </div>
        </div>

        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/fuel.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Petrol</h1>
                <a href="./order">Book Now</a>
            </div>
        </div>
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/petrol.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Diesel</h1>
                <a href="./order">Book Now</a>
            </div>
        </div>
    </div>
</section>



{{> footer }}