{{> header }}

<!-- header section ends here  -->

<section class="main-sec contain flex-r">
    <div class="sec-text flex-c">
        <h1 class="sec-head">Best Quality Services</h1>
        <p>
            OnRoad Assist is providing 24/7 roadside assistance
            support, on-spot repair, flat tyre repair, starting
            problem, towing, accident and emergency,
            call taxi and bike, fuel delivery, insurance.
        </p>
    </div>
    <div class="sec-img">
        <img class="setting-img" src="/media/flame-546.png" alt="">
    </div>
</section>


<!-- >>>>>>>>>>> S E R V I C E <<<<<<<<<<<<<<<<  -->


<section id="service" class="contain flex-c">
    <h1 class="main-head ul-head">Our Services</h1>
    <div class="row flex-r">
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/car-1.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Four Wheeler</h1>
                <a href="/car">View more</a>
            </div>
        </div>
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/bike.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Two Wheeler</h1>
                <a href="/bike">View more</a>
            </div>
        </div>
        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/fuel.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>General</h1>
                <a href="/general">View more</a>
            </div>
        </div>

        <div class="service-card flex-c">
            <div class="card-img">
                <img src="/media/emergency.png" alt="">
            </div>
            <div class="card-text flex-c">
                <h1>Emergency</h1>
                <a href="/emergency">View more</a>
            </div>
        </div>
    </div>
</section>


<!-- >>>>>>>>>>> C E O <<<<<<<<<<<<<<<<  -->

<section id="about-ceo" class="contain flex-r">
    <div class="sec-img">
        <img class="ceo-pic" src="/media/ceo-pic.png" alt="">
    </div>
    <div class="sec-text">
        <h1 class="sec-head">About CEO</h1>
        <h3>Anand venkata rakumar kalidindi</h3>
        <p>
            Anand is the founder & CEO, board of directors of OnRoad Assist.
            Currently working on this startup . He is college going
            student
        </p>
        <div class="social-icon flex-r">
            <a href="https://www.facebook.com/anandchintu.anand" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/invites/contact/?i=19ltongpjl5tg&utm_content=3n2qimp" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/onroad-assist-4625741a6" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>

</section>


<!-- >>>>>>>>>>> A B O U T <<<<<<<<<<<<<<<<  -->

<section id="about" class="contain flex-r">
    <div class="sec-text">
        <h1 class="sec-head">About Comapany</h1>
        <p>
            OnRoad Assist is leading 24/7 roadside assistance
            and emergency services in Andhra Pradesh
        </p>

        <div class="sec-list flex-c">
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>On-spot Repair</span>
            </div>
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>Flat tyre repair</span>
            </div>
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>Accident and Emergency</span>
            </div>
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>Call Taxi</span>
            </div>
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>Free Devlivery</span>
            </div>
            <div class="flex-r">
                <span class="sm-icon"><i class="fas fa-tools"></i></span>
                <span>Insurance</span>
            </div>
        </div>
    </div>

    <div class="sec-img">
        <img class="car-men-img" src="/media/car-men.png" alt="">
    </div>
</section>


<!-- >>>>>>>>>>> T E A M <<<<<<<<<<<<<<<<  -->

<section class="team-sec contain flex-c">
    <h1 class="main-head ul-head">Our Team Members</h1>

    <div class="carousel" data-flickity='{ "wrapAround": true }'>
        <div class="carousel-cell">
            <img src="/media/ceo-pic.png" alt="">
            <h2>Anand Kumar</h2>
            <p>CEO, Founder</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/kalindi-gangadhara-rao.jpg" alt="">
            <h2>Kalidindi Gangadhara Rao</h2>
            <p>Co-Founder</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/gopi-reddy.jpg" alt="">
            <h2>Gopi Reddy</h2>
            <p>Technical Department</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/g-teja-narendra.jpg" alt="">
            <h2>G. Teja Narendra Kumar</h2>
            <p>Board Member</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/b-yaswanth.jpg" alt="">
            <h2>B. Yaswanth</h2>
            <p>Manager</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/a-yaswanth.jpg" alt="">
            <h2>A. Yaswanth</h2>
            <p>HR & Team</p>
        </div>
        <div class="carousel-cell">
            <img src="/media/uday.jpg" alt="">
            <h2>Uday Raju</h2>
            <p>Assistant Manager</p>
        </div>
        <div class="carousel-cell ">
            <img src="/media/knv ganesh.jpg" alt="">
            <h2>K. N. V. Ganesh</h2>
            <p>Board Member</p>
        </div>
        <div class="carousel-cell ">
            <img src="/media/k chandra.jpg" alt="">
            <h2>K. Chandra Sekhar</h2>
            <p>Advertisement & Marketing</p>
        </div>
    </div>
</section>

<!-- >>>>>>>>>>> C O N T A C T<<<<<<<<<<<<<<<<  -->
<section id="contact" class="contain flex-r">
    <div class="sec-text contact-wrapper">
        <h1 class="sec-head">Reach Us</h1>
        <p>
            If you have any types of
            quries, you can send
            me message from here.
            It's my pleasure to help you.
        </p>
        <form action="/send_msg" method="post">
            <div class="input-box">
                <input type="text" name="usr_name" placeholder="your name" required>
            </div>
            <div class="input-box">
                <input type="email" name="usr_email" placeholder="@abc.com" required>
            </div>
            <div class="input-box message-box">
                <textarea id="" cols="30" rows="10" name="usr_msg" placeholder="your message here.."></textarea>
            </div>
            <input type="submit" class="b-btn" name="send_now" value="Send Now" />
        </form>
    </div>
    <div class="sec-img">
        <img class="contact-img" src="/media/contact-img.png" alt="">
    </div>
</section>

{{> footer }}
