<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icons  -->
    <script src="https://kit.fontawesome.com/3fe635cf31.js" crossorigin="anonymous"></script>

    <!-- link css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">

    <title>Login</title>
</head>
<body>
    <section class="login-sec contain flex-r">
        <div class="form-wrapper">
            <div class="login-logo flex-r">
                <img src="/media/logoonroad (1).png" alt="">
            </div>
            <h1>Welcome Back!</h1>
            <form action="">
            <span class="divider"></span>
            <div class="input-label">Mobile Number</div>
           <div class="input-box flex-r">
               <span class="input-icon"><i class="fas fa-user-circle"></i></span>
               <input type="text" name="" id="">
           </div>

            <div class="input-label">Password</div>
            <div class="input-box flex-r">
                <span class="input-icon"><i class="fas fa-key"></i></span>
                <input type="password" name="" id="">
            </div>
            <a href="#">Forgot Password ?</a>
        
            <button class="btn primary-btn" type="submit">Login</button>
            <div class="form-extra">
                Need an account?
                <a href="./register.html">Register</a>
            </div>
            </form>
        </div>
    </section>
    
</body>
</html>